<div class="main-container">
  <div class="page-title">
    <h1>All The Categories</h1>
  </div>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card">
        <h2> <%= list.name %> </h2>
        <br>
        <p><strong> <%= list.description %> </strong></p>
      <%= link_to "Check it out", list_path(list.id), class: "btn"  %>
      </div>
    <% end %>
  </div>
</div>

<%# style="background-image: <%= list.photo %>
