<h1>Categories</h1>

<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: <%= list.photo %>">
      <h2> <%= list.name %> </h2>
      <p><strong> <%= list.description %> </strong></p>
      <%= link_to "Checkout this category", list_path(list.id), class: "btn" %>
    </div>
  <% end %>
</div>
