<div class="main-container">
<h1>Instruments</h1>
  <div class="navigation pt-3">
    <%=link_to "Lets go back", lists_path, class: "btn" %>
  </div>
  <div class="cards">
    <% @classroom_categories.each do |classroom_category| %>
      <div class="card">
        <h2> <%= classroom_category.instrument %> </h2>
        <%= link_to "Check it out",  classroom_category_path, class: "btn"  %>
      </div>
    <% end %>
  </div>
</div>

<%# list_classroom GET    /lists/:list_id/classrooms/:id(.:format)  classrooms#show %>
<%# list_classroom_path(@list, @classroom), %>
