* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 30px;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;

  h2 {
    font-weight: 400;
    color: #ffffff;
    align-self: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    color: #ffffff;
    align-self: center;
    text-align: center;
  }

  .btn {
    grid-row: 4/5;
    align-self: center;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    background: #160d1c;
    transition: background 0.3s ease;
    margin: auto;
  }

  .btn::after {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }

  .btn:hover::after {
    width: 100%;
    background: #4D04C4;
    color: white;
  }
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}


/* CARD BACKGROUNDS */

.card {
  background: radial-gradient(#311d3f, #4c2d62);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
