.show-container {
  text-align: justify;
  margin: 0 auto 16vh auto;
  padding: 0px 30px 30px 30px;
  border-radius: 5px;

    .more-how {
      font-family: Arial, Helvetica, sans-serif;
    }

.col-lg-6 {
  margin-top: 0px;
  padding-bottom: 0px;
}
p {
  color: white;
}

#h2{
  font-weight: bolder;
  color:#F3EA00;
  text-transform: capitalize;
  font-size: 2.5rem;
}
.sub-title-class {
  color: #F3EA00;
}
.title-details {
  color: #f400a1;
}
}

.button {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.3s ease;
  width: fit-content;
  text-decoration: none;
}

#h2 {
  color: black;
}

.modal-footer {
  margin: auto;
}

.contents-user-card {
  column-width: 14em;
  column-gap: 1.33em;
}

.button-back {
  width: max-content;
  padding: 4px 8px;
  border-radius: 8px;
}

.button-back a {
  text-decoration: none;
  color: #F3EA00;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.button-back:hover,.button-back:focus  {
  background-color: #F3EA00;
  box-shadow: 0 0 10px #F3EA00, 0 0 15px #F3EA00,0 0 25px #F3EA00;
}

.button-back:hover a {
  color: #120127;
}
.button-back:focus a {
  color: #120127;
}

.button-delete {
  width: max-content;
  padding: 4px 8px;
  border-radius: 8px;
}

.button-delete a {
  text-decoration: none;
  color: #F3EA00;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}
.button-delete:hover, .button-delete:focus {
  background-color: #F3EA00;
  box-shadow: 0 0 10px #F3EA00, 0 0 15px #F3EA00,0 0 25px #F3EA00;
}
.button-delete:hover a {
  color: #120127;
}
.button-delete:focus a {
  color: #120127;
}
