<div class="small-gray row justify-content-center">
  <div class="col-6" id="form-chat">
    <%= simple_form_for @chatroom do |f| %>
    <%= f.input_field :name,  placeholder:"Name your chatroom..", class: "name-form" %>
    <%= f.button :submit, "Lets chat!", class: "chabun" %>
    <% end %>
  </div>
</div>
