<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: auto;">
    <h2>Join this class</h2>
    <button>
    <%= link_to "Check it now!", list_classroom_path(@list, @classroom) %>
    </button>
  </div>
</div>
