<div class="main-container">
<h1>Music categories</h1>
  <div class="navigation pt-3">
    <%=link_to "Lets go back", lists_path, class: "btn" %>
  </div>
  <div class="cards">
    <% @classroom_categories.each do |classroom_categorie| %>
      <div class="card">
        <h2> <%= classroom_categorie.name %> </h2>
        <br>
      <%= link_to "Check it out",  classroom_category_classrooms_path(classroom_categorie,@classroom ), class: "btn"  %>
      </div>
    <% end %>
  </div>
</div>
