.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 32px;
  color: white;

  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.button {
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  border:#CBB26B;
  background: #160d1c;
  transition: background 0.3s ease;
  width: fit-content;
  align-self: end;
  font-family: Arial, Helvetica, sans-serif;
}
.button:hover {
  background: #CBB26B;
  transform: scale(1.1);
}

// .btn {
//   color: #ffffff;
//   padding: 8px 16px;
//   border-radius: 5px;
//   border:#CBB26B;
//   background: #160d1c;
//   transition: background 0.3s ease;
//   width: fit-content;
//   align-self: end;
//   font-family: Arial, Helvetica, sans-serif;

// }

// .btn:hover {
//   background: #CBB26B;
//   transform: scale(1.1);
// }
