.grid-container {
  margin-top: 100px;
}


.container-chatroom {

  background: white;
  width: 125%;
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 5px;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    color: black;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.mb-3 {
margin-bottom: 0px !important;
width: 90%;
// height: 40px;
margin-right: 5px !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

.open-chatrooms {
  // height: calc(100vh - 120px);
  // background: white;
  // width: 100%;
  // margin-top: 9px;
  // margin-bottom: 9px;
  // margin-left: 10px;
  // border-radius: 5px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // flex-grow: 1;
  // .open-chats {
  //   margin-top: 10px;
  // }
  margin-left: 15px;
  height: calc(100vh - 120px)

}

.side-options {
  height: calc(100vh - 75px);
  width: 75%;
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

}

// Open-chat

// .open-chats ul li{
//   list-style: none;

// }

// .open-chats li {
//   margin-top: 16px;

// }

// .open-chats a {
//   font-weight: bolder;
//   font-size: 24px;
//   width: auto;
//   text-decoration: none;
//   color: #120127;
// }
