.small-gray {
  margin-top: 300px;
}

.col-6 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  .name-form {
    color: black;
    width: 75%;
    height: 40px;
    margin-bottom: 5px;

  }

}

.chabun {
  background: #CBB26B;
  width: 75%;
}

.simple_form {
  float: none;
  text-align : center;
  border: 1px solid #CCC;
}
.simple_form .input-box {
  margin-bottom: 10px;
}
.simple_form input {
  margin-bottom: 10px;
  margin: 10px 10px;
  display: inline-block;
  text-align : center;
}
