.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: space-between;

}

.navbar-brand img {
  width: 40px;
}
.nav-item {
  list-style: none;
}

.collapse {
  justify-content: space-between;

}

.d-flex{
  margin-right: 280px;
}

#query {
  width: 300px
}
