// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/show";
@import "pages/new";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #10001F;
  ;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

// login and sign in form

.container {
  position: relative;
  top: 10vh;
  margin-top: 40px;
}

.form-inputs {
  display: block;
}



//

.popcat {
padding-top: 10px;
display: flex;
align-items: center;
justify-content: center;

}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 400px;
  // height: 300px;
  display: flex;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  justify-content: space-between;

  h2 {
    font-weight: 400;
    color: #ffffff;
    text-align: left;
  }

  p {
    color: #ffffff;
    text-align: left;
  }

  .btn {
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    background: #160d1c;
    transition: background 0.3s ease;
    width: fit-content;
    align-self: end;

  }

  // .btn::after {
  //   position: absolute;
  //   bottom: 25px;
  //   left: 0;
  //   width: 0%;
  //   height: 3px;
  //   background-color: rgba(255, 255, 255, 0.6);
  //   transition: all 0.5s;
  // }

  .btn:hover{
    background: #311d3f;
    color: white;
    transform: scale(1.05);
  }
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

/* CARD BACKGROUNDS */

.card {
  background: #CBB26B;

}

.cat_image {
    width: 358px;
    height: 100px;
    border-radius: 5px;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
